.log{
border: 1px solid gray;
position: relative;
background-color:lightgray;
font-size: 30px;
}
.log2{
    border: 1px solid gray;
    position: relative;
    background-color:lightgray;
    font-size: 30px;
}
.in{

}
.in2{

}